<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.crm.mapper.CusDevPlanMapper" >
  <resultMap id="BaseResultMap" type="com.situ.crm.bean.CusDevPlan" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="sale_chance_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="plan_item" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="plan_date" jdbcType="DATE" javaType="java.util.Date" />
      <arg column="exe_affect" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, sale_chance_id, plan_item, plan_date, exe_affect
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cus_dev_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cus_dev_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.situ.crm.bean.CusDevPlan" >
    insert into cus_dev_plan (id, sale_chance_id, plan_item, 
      plan_date, exe_affect)
    values (#{id,jdbcType=INTEGER}, #{saleChanceId,jdbcType=INTEGER}, #{planItem,jdbcType=VARCHAR}, 
      #{planDate,jdbcType=DATE}, #{exeAffect,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.situ.crm.bean.CusDevPlan" >
    insert into cus_dev_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="saleChanceId != null" >
        sale_chance_id,
      </if>
      <if test="planItem != null" >
        plan_item,
      </if>
      <if test="planDate != null" >
        plan_date,
      </if>
      <if test="exeAffect != null" >
        exe_affect,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="saleChanceId != null" >
        #{saleChanceId,jdbcType=INTEGER},
      </if>
      <if test="planItem != null" >
        #{planItem,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        #{planDate,jdbcType=DATE},
      </if>
      <if test="exeAffect != null" >
        #{exeAffect,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.situ.crm.bean.CusDevPlan" >
    update cus_dev_plan
    <set >
      <if test="saleChanceId != null" >
        sale_chance_id = #{saleChanceId,jdbcType=INTEGER},
      </if>
      <if test="planItem != null" >
        plan_item = #{planItem,jdbcType=VARCHAR},
      </if>
      <if test="planDate != null" >
        plan_date = #{planDate,jdbcType=DATE},
      </if>
      <if test="exeAffect != null" >
        exe_affect = #{exeAffect,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.situ.crm.bean.CusDevPlan" >
    update cus_dev_plan
    set sale_chance_id = #{saleChanceId,jdbcType=INTEGER},
      plan_item = #{planItem,jdbcType=VARCHAR},
      plan_date = #{planDate,jdbcType=DATE},
      exe_affect = #{exeAffect,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>