<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.crm.mapper.CustomerLossMeasureMapper">
	<resultMap id="BaseResultMap" type="com.situ.crm.bean.CustomerLossMeasure">
		<constructor>
			<idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="loss_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="measure" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		id, loss_id, measure
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from customer_loss_measure
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		customer_loss_measure
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.situ.crm.bean.CustomerLossMeasure">
		insert into
		customer_loss_measure (id, loss_id, measure
		)
		values
		(#{id,jdbcType=INTEGER}, #{lossId,jdbcType=INTEGER},
		#{measure,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.situ.crm.bean.CustomerLossMeasure">
		insert into customer_loss_measure
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="lossId != null">
				loss_id,
			</if>
			<if test="measure != null">
				measure,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="lossId != null">
				#{lossId,jdbcType=INTEGER},
			</if>
			<if test="measure != null">
				#{measure,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.situ.crm.bean.CustomerLossMeasure">
		update customer_loss_measure
		<set>
			<if test="lossId != null">
				loss_id = #{lossId,jdbcType=INTEGER},
			</if>
			<if test="measure != null">
				measure = #{measure,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.situ.crm.bean.CustomerLossMeasure">
		update
		customer_loss_measure
		set loss_id = #{lossId,jdbcType=INTEGER},
		measure
		= #{measure,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>

	<select id="selectMeasuresByLossId" parameterType="int"
		resultType="com.situ.crm.bean.CustomerLossMeasure">
		select
		<include refid="Base_Column_List" />
		from customer_loss_measure
		where loss_id=#{id}
	</select>

</mapper>