<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.crm.mapper.CustomerLinkmanMapper">
	<resultMap id="BaseResultMap" type="com.situ.crm.bean.CustomerLinkman">
		<constructor>
			<idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="customer_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
			<arg column="link_name" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="gender" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="position" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="office_phone" jdbcType="VARCHAR" javaType="java.lang.String" />
			<arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
		</constructor>
	</resultMap>
	<sql id="Base_Column_List">
		id, customer_id, link_name, gender, position, office_phone,
		phone
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from customer_linkman
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		customer_linkman
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.situ.crm.bean.CustomerLinkman">
		insert into customer_linkman
		(id, customer_id, link_name,
		gender, position, office_phone,
		phone)
		values (#{id,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER},
		#{linkName,jdbcType=VARCHAR},
		#{gender,jdbcType=VARCHAR},
		#{position,jdbcType=VARCHAR}, #{officePhone,jdbcType=VARCHAR},
		#{phone,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.situ.crm.bean.CustomerLinkman">
		insert into customer_linkman
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="customerId != null">
				customer_id,
			</if>
			<if test="linkName != null">
				link_name,
			</if>
			<if test="gender != null">
				gender,
			</if>
			<if test="position != null">
				position,
			</if>
			<if test="officePhone != null">
				office_phone,
			</if>
			<if test="phone != null">
				phone,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="customerId != null">
				#{customerId,jdbcType=INTEGER},
			</if>
			<if test="linkName != null">
				#{linkName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				#{gender,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				#{position,jdbcType=VARCHAR},
			</if>
			<if test="officePhone != null">
				#{officePhone,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.situ.crm.bean.CustomerLinkman">
		update customer_linkman
		<set>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=INTEGER},
			</if>
			<if test="linkName != null">
				link_name = #{linkName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			<if test="officePhone != null">
				office_phone = #{officePhone,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.situ.crm.bean.CustomerLinkman">
		update
		customer_linkman
		set customer_id = #{customerId,jdbcType=INTEGER},
		link_name = #{linkName,jdbcType=VARCHAR},
		gender =
		#{gender,jdbcType=VARCHAR},
		position = #{position,jdbcType=VARCHAR},
		office_phone = #{officePhone,jdbcType=VARCHAR},
		phone =
		#{phone,jdbcType=VARCHAR}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByCustomerId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from customer_linkman
		where id=#{id}
	</select>

	<select id="selectLinkMenByCusId" resultMap="BaseResultMap"
		parameterType="int">
		select
		<include refid="Base_Column_List" />
		from customer_linkman
		where customer_id=#{customerId}
	</select>

	
	<!-- updateLinkmanInfoByCusId -->
	<update id="updateLinkmanInfoByCusId" parameterType="int">
		update customer_linkman
		<set>
			<if test="customerId != null">
				customer_id = #{customerId,jdbcType=INTEGER},
			</if>
			<if test="linkName != null">
				link_name = #{linkName,jdbcType=VARCHAR},
			</if>
			<if test="gender != null">
				gender = #{gender,jdbcType=VARCHAR},
			</if>
			<if test="position != null">
				position = #{position,jdbcType=VARCHAR},
			</if>
			<if test="officePhone != null">
				office_phone = #{officePhone,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
		</set>
		where customer_id = #{customerId}
	</update>

</mapper>